/* Making the background an image */
body{
    background-image: url(../Content/istockphoto-538811669-612x612.jpg); /* With only this. the image repeats iself */
    background-repeat: no-repeat; /* Only 1 image */
    background-position: center; /* Centered horizontally */
    background-attachment: fixed; /*ù Regardless of viewport size, the image is centered */
    background-size: cover; /* Covers the entire background */
}

/* Learning positions: Static. sticky, absolute, fixed, relative */

#box1{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: relative; /* Relative to where it normally is */
    /* position: fixed; = Relative to the wiewport. Will stay on screen when scrolling down. Ex. An ad
       position: absolute; = position relative to nearest ancestor. Ex. box 2 in box 1. Box 2 will stay in box 1, if box 1 is moved
       positon: sticky; = based on scroll position. Catched by the viewport when scrolling down (almost liked fixed)
       position static; = default */
}
#container{
    border: 2px solid;
}
#container >p{
    background-color: pink; 
}

/* Pseudo Classes: Modify the baheavior of an element 
    Can do the same with elements, buttons, etc.*/
a:link{
    color: pink;
}
a:hover{
    color:darkgoldenrod;
    font-size: 1.1em;
}
a:active{
    color: blue;
}
a:visited{
    color: palevioletred;
}
/* Can also "not" hover:
li:not(:hover)
{
    background-color:red;
}
    */

/* Pseudo-elements = keyword added after a selector used to style a 
    specific part of an element*/

h4::first-letter{
font-size: 5em;
font-style: italic;
}
/* Can also use: first-line, selection (what you highlight), before( a list)
Ex list:
#fruit li:before{   
content: "✔";
}